{% extends 'index.html' %}

{% block content %}


    {% include 'model_new.html' %}

<div class="intro">
<h3>Introduction to django framework</h3>
<p>
    Django is high level open source Python Web framework that provide rapid and clean, pragmatic design. It is robust
    and have enhanced adaptability to develop secure and attractive web applications. The open community and experienced experts
    built the backend, so you can focus on writing your app without needing to reinvent the wheel.
</p>

    <h2>Why Django?</h2>
    <ul>
        <li>
            <h4><b>Ridiculously fast </b></h4>
            <p>Django was designed to help developers take applications from concept to
                completion as quickly as possible</p>
        </li>
        <hr>
        <li>
            <h4><b>Reassuringly secure</b></h4>
            <p>Django takes security seriously and helps developers avoid many common security mistakes</p>
        </li>
        <hr>
        <li>
            <h4><b>Exceedingly scalable</b></h4>
            <p>Some of the busiest sites on the Web leverage Django’s ability to quickly and flexibly scale</p>
        </li>
        <hr>
    </ul>
    <h2>Prerequisite </h2>
        <pre><b style="color: orangered">
        if &nbsp;</b>Basics of Python <b style="color: dodgerblue">&&</b> (HTML <b style="color: dodgerblue">&&</b> CSS):
            "You are the right person for django",
            "It'll be easy to learn",
            "You'll be going to enjoy django"<b style="color: orangered">
        else</b>:
            "You should learn basics of python
            then switch to django"
        </pre>

</div>

{% endblock %}